.modal-window {
    position: absolute;
    left: 500px;
    top: 300px;
    height: 250px;
    width: 500px;
    background-color: rgb(249, 197, 163);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid rgb(27, 42, 27);
}

.title {
    margin-left: 20px;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-size: 20;
    text-align: center;
    border: 2px solid rgb(104, 194, 254);
}

.description {
    margin-left: 20px;
    height: 100px;
    width: 400px;
    border: none;
    border-radius: 10px;
    display: flex;
    text-align: center;
    font-size: 20;
    border: 2px solid rgb(104, 194, 254);
    overflow-y: auto;
}

.button-block {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-user {
    height: 30px;
    width: 120px;
    margin-left: 20px;
    margin-right: 80px;
    border-radius: 10px;
    border: 2px solid rgb(104, 194, 254);
    cursor: pointer;
}

.button-modal-window {
    height: 30px;
    width: 100px;
    margin-left: 20px;
    border-radius: 10px;
    border: 2px solid rgb(104, 194, 254);
    cursor: pointer;
}