.board-element {
    margin-top: 20px;
    border-radius: 50px;
    height: 700px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.board-column {
    height: 100%;
    width: 350px;
}