.header-element {
    margin-top: 40px;
    height: 150px;
    width: 1300px;
    background-color: rgb(152, 91, 168);
    opacity: 0.8;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-element-name {
    margin-left: 80px;
    color: #84f5b5;
    font-style: italic;
    font-size: 80px;
    font-weight: 900;
}

.header-element-date {
    margin-right: 80px;
    background-color: rgb(245, 247, 249);
    height: 80px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}